[Unit]
Description=Call Log Tracking Service
After=network-online.target

[Service]
Type=simple
User=sarik
WorkingDirectory=/home/sarik/SMS_TRACKING
ExecStart=/home/sarik/SMS_TRACKING/venv/bin/python3 /home/sarik/SMS_TRACKING/call_log_track.py
StandardOutput=append:/var/log/call_log_track.log
StandardError=append:/var/log/call_log_track.error.log

[Install]
WantedBy=multi-user.target